<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>

<body>
    <h1>The meaning of life is: {{.}}</h1> <!-- {{.}} é o argumento que está sendo passado na execução do template, pode ser qualquer tipo, string, float, etc-->
</body>

</html>